.barchart-button{
  height:200px;
  width:230px;
  background-color: #ffffff;
}
@media screen and (max-width: 1206px) {
  .barchart-button{
    width:290px;
  }
}
@media screen and (max-width: 1140px) {
  .barchart-button{
    margin-top: 20px;
  }
}
@media screen and (max-width: 812px) {
  .barchart-button{
    width:100%;
  }
}